.rbc-toolbar .rbc-toolbar-label,
.rbc-month-view .rbc-header,
.rbc-time-view .rbc-time-header-cell,
.rbc-agenda-view .rbc-agenda-date-cell {
  text-transform: capitalize;
}

.agenda-modal i {
    margin-right: .2rem;
}

.agenda-modal iframe {
    width: 100%;
    height: 250px;
}