.grayscale {
    filter: grayscale();
}

.contentApp {
    position: relative;
}

.container1 {
    margin-top: 3rem;
    min-height: 80vh;
}

.componentContainer {
    padding-bottom: 3rem;
}

.principalTitle {
    padding-bottom: .5rem;
    margin-bottom: 1.5rem;
    color: var(--bs-blue);
    border-bottom: solid 2px var(--bs-gray-600);
}

.secondTitle {
    padding-bottom: .5rem;
    margin-bottom: 1.5rem;
    color: var(--bs-info);
    border-bottom: solid 2px var(--bs-gray-600);
}

.paragraphNormal {
    font-size: larger;
    text-align: justify;
}