.card{
    height: 280px;
    margin: 15px 0px;
    border: 2px solid #9E2343;
     border-radius: 20px;
}

.card .card-title{
    color: #9E2343;
}

.card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.card .card-link{
    color: #BC955B;
    cursor: pointer;
    border: 1px solid #BC955B;
    text-decoration: none;
    padding: 8px 20px;
    border-radius: 15px;
}

.card .card-link:hover{
    color: #fff;
    background-color: #BC955B;
}