.content-buscador{
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-buscador{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.content-buscador .buscador{
    width: 75%;
    height: 50px;
    border-radius: 20px;
    border: 2px solid #BC955B;
    padding-left: 30px;
    color: #BC955B;
}